/* Color Palette
#A7CECB - color 1

#8BA6A9, #5F7A7D - color 2, darker shade

#75704E, #595534 - color 3, darker shade

#CACC90, #A8A360 - color 4, darker shade

#F4EBBE, #D6C77E - color 5, darker shade

*/


/* Global styles 
------------------------------------*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body, html {
    background-color: #A7CECB;
    font-family: 'PT Serif', serif;
}

body {
    line-height: 1.6;
    margin: 0;
}

.content-wrap {
    max-width: 950px; 
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}


h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    margin-top: 0;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
}

p, li {
    font-size: 1em;
}



/* Header
------------------------------------*/
header {
    background-color: #F4EBBE;
    border: solid #D6C77E 20px;
    padding: 20px;
}

.profile-img{
    border-radius:50%;  
}

.column-narrow{
    width: 30%; 
    float: left; 
    padding-right: 3%; 
    min-height: 175px;
}

.column-wide{
    width: 70%; 
    float: left; 
    min-height: 225px;
}



/* Work Experience
------------------------------------*/
.work-experience {
    background-color: #CACC90;
    border: solid #A8A360 20px;
    padding: 20px;
}


/* Education
------------------------------------*/
.education {
    background-color: #75704E;
    border: solid #595534 20px;
    padding: 20px;
}


/* Footer 
------------------------------------*/
footer {
    background-color: #8BA6A9;
    border: solid #5F7A7D 20px;
    padding: 20px;
    text-align: center;
}